* {
  margin: 0;
  padding: 0;
}
html,
body,
#app {
  height: 100%;
}

@import "@/components/style.scss";

.app-container {
  padding: 30px 40px;
  width: 80%;
  margin: 0 auto;
  .panel {
    border: 2px dashed #ccc;
    padding: 20px;
  }
}
